.gradient-custom-2 {
    /* fallback for old browsers */
    background: #64c58e;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(194, 251, 215), rgba(166, 193, 238, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(194, 251, 215), rgba(166, 193, 238, 1))
    }

#boton1{
    margin-right: 1.3rem !important;
}