#pills-home-tab{
    font-size: 20px;
}

#pills-home-tab:hover{
    background-color:#28b864;
}

#pills-profile-tab:hover{
    background-color:#28b864;
}

#pills-profile-tab{
    font-size: 20px;
}

#master:hover{
    color:#28b864
}
#master{
    color: var(--bs-body-color);
}

.card:hover{
    border-width: 5px !important;
    border-color: #28b864 !important;
}

.card{
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}

#rechazar:hover{
    background-color: rgba(101, 6, 6, 0.831) !important;
    color: white;
    border-color:  rgba(101, 6, 6, 0.831);
}